@model EWShop.Utilities.SLExcelStatus
@{
    Layout = null;
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Month-Year</title>
</head>
<body>
    @ViewData["JANUARY"]
    <br />
    @ViewData["FEBRUARY"]
    <br />
    @ViewData["MARCH"]
    <br />
    @ViewData["APRIL"]
    <br />
    @ViewData["MAY"]
    <br />
    @ViewData["JUNE"]
    <br />
    @ViewData["JULY"]
    <br />
    @ViewData["AUGUST"]
    <br />
    @ViewData["SEPTEMBER"]
    <br />
    @ViewData["OCTOBER"]
    <br />
    @ViewData["NOVEMBER"]
    <br />
    @ViewData["DECEMBER"]
    <br />
</body>
</html>