@model IEnumerable<EWShop.Models.ProductSellOutReport>
@{
    ViewBag.Title = "List Registered E-Warranty";
    Layout = "~/Views/Layout/_LayoutAdminDashboard.cshtml";
}
@section Styles {
    <style>
        .center {
            text-align: center !important;
        }

        .btn {
            font-size: 14px !important;
            padding: 1px 10px;
            height: 25px;
            border: 1px solid #fff !important;
        }

        .box {
            margin-bottom: 10px !important;
        }

        .box-header > .box-tools {
            top: 8px !important;
        }

        .box-body {
            padding: 5px 5px 0;
        }

        .no-margin {
            margin: 0 !important;
        }

        .control-label {
            float: left;
            margin-right: 5px;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 0;
            padding: 2px;
        }

        .form-control {
            float: left;
            font-size: 14px;
            font-weight: 500;
            height: 25px;
            border-radius: 3px;
            padding: 5px 3px;
        }

        .div-select {
            float: left;
        }

        .m-b-5 {
            margin-bottom: 5px;
        }

        .table {
            margin-bottom: 0 !important;
        }

            .table > tbody > tr > td {
                border: 0 !important;
                padding: 3px;
            }

        .col-label {
            width: 80px !important;
            text-align: right;
            vertical-align: middle !important;
        }

        table.dataTable {
            margin: 0 auto;
            width: 100%;
            clear: both;
            border-collapse: collapse;
            table-layout: fixed;
        }

            table.dataTable thead th {
                padding: 1px;
            }

            table.dataTable thead tr:first-child {
                color: #005996;
                background-color: #E1EBF4;
                font-weight: 600;
            }

                table.dataTable thead tr:first-child th {
                    padding: 5px 8px;
                    text-align: center;
                    font-size: 14px;
                }

            table.dataTable tbody td {
                vertical-align: middle;
                padding: 5px 3px;
                white-space: nowrap;
                font-size: 13px;
                overflow: hidden;
                border: 1px solid #ddd !important;
                text-overflow: ellipsis;
                vertical-align: middle;
            }

            table.dataTable tbody tr.active td {
                font-weight: 600;
                background-color: #ddd;
            }

            table.dataTable tbody tr {
                cursor: pointer;
            }
        .form-cancel {
            display: none;
        }
    </style>
}
<section class="content-header">
    <h1>
        List Registered E-Warranty
        <small>Displayed</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home page</a></li>
        <li class="active">Registered EW</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-list-alt"></i>
                    <h3 class="box-title">List Registered E-Warranty</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-success btn-box-tool btn-export-excel"><i class="fa fa-file-excel-o"></i> Export excel</button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row div-filter m-b-5">
                        @using (Ajax.BeginForm(null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "dvResults", OnBegin = "OnBegin", OnSuccess = "OnSuccess" }, new { @class = "form-filter" }))
                        {
                            @Html.ValidationSummary(true)
                            <div class="col-md-12">
                                <label class="control-label" title="Ngày đăng ký - Register date">Reg. Date</label>
                                <input type="text" class="form-control form-date form-from-date" style="width: 80px;" name="frmDate" value="@DateTime.Now.AddDays(-7).ToString("dd/MM/yyyy")" />
                                <label class="control-label no-margin">-</label>
                                <input type="text" class="form-control form-date form-to-date" style="width: 80px;" name="toDate" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                <label class="control-label" title="Nguồn đăng ký - Source register">Source</label>
                                <div class="div-select" style="width: 160px; margin-right: 5px;">
                                    <select class="form-control form-select form-source" style="width: 100%;" name="source">
                                        <option value="0">-- All --</option>
                                        <option value="6">Hotline (Customer)</option>
                                        <option value="8">Hotline (Shop)</option>
                                        <option value="2">Website (Customer)</option>
                                        <option value="4">Website (Zalo)</option>
                                        <option value="5">Website (Shop)</option>
                                        <option value="3">SMS (Customer)</option>
                                        <option value="7">SMS (Shop)</option>
                                        <option value="9">CallCenter</option>
                                        <option value="11">Mobile</option>
                                    </select>
                                </div>
                                <label class="control-label" title="Số máy - Barcode">Barcode</label>
                                <input type="text" class="form-control" style="width: 180px;margin-right: 5px;" name="barcode" />
                                <button type="submit" class="btn btn-primary" style="border: 1px solid #367fa9 !important;"><i class="fa fa-filter"></i> Filter</button>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div id="dvResults">
                            @Html.Partial("~/Areas/CallCenter/Views/Shared/_PartialListRegisteredEwarranty.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-pencil"></i>
                    <h3 class="box-title" style="margin-right: 10px;">Detail</h3>
                    <label class="lbError" style="color:darkorange;"></label>
                    <label class="lbSuccess" style="color:chartreuse"></label>
                    <div class="box-tools pull-right">
                        <div class="form-cancel">
                            @using (Ajax.BeginForm("cancelEwarranty", "Ewarranty", new AjaxOptions { HttpMethod = "POST", OnBegin = "OnBeginCancel", OnSuccess = "OnSuccessCancel" }, new { @class = "form-excute" }))
                            {
                                @Html.ValidationSummary(true)
                                <input type="hidden" class="form-card-id" name="cardId" value="" />
                                <input class="form-control form-reason" style="width: 300px;margin-right: 5px;" name="reason" placeholder="Enter reason cancel ..." required />

                                <button type="submit" class="btn btn-warning btn-reject"><i class="fa fa-ban"></i> Cancel</button>
                            }
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table">
                                <tr>
                                    <td title="Mã bảo hành - Card Number" class="col-label">CardNo</td>
                                    <td>
                                        <input class="form-control form-card-no" style="width: 100%;" />
                                    </td>
                                    <td title="Ngày đăng ký - Registered Date" class="col-label">Reg.Date</td>
                                    <td>
                                        <input class="form-control form-register-date" style="width: 100%;" />
                                    </td>
                                    <td title="Ngày mua - Purchased Date" class="col-label">POD</td>
                                    <td>
                                        <input class="form-control form-pod" style="width: 100%;" />
                                    </td>
                                    <td title="Hạn bảo hành - Expired Date" class="col-label">Exp.Date</td>
                                    <td>
                                        <input class="form-control form-exp-date" style="width: 100%;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td title="Số máy - Barcode" class="col-label">Barcode</td>
                                    <td>
                                        <input class="form-control form-barcode" style="width: 100%;" />
                                    </td>
                                    <td title="Sản phẩm - Production" class="col-label">Product</td>
                                    <td>
                                        <input class="form-control form-plant" style="width: 100%;" />
                                    </td>
                                    <td title="Kiểu máy - Model Type" class="col-label">Model</td>
                                    <td>
                                        <input class="form-control form-model" style="width: 100%;" />
                                    </td>
                                    <td title="Nguồn đăng ký - Source" class="col-label">Source</td>
                                    <td>
                                        <input class="form-control form-source" style="width: 100%;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td title="Tên khách hàng - Customer Name" class="col-label">Cus.Name</td>
                                    <td>
                                        <input class="form-control form-customer-name" style="width: 100%;" />
                                    </td>
                                    <td title="Số điện thoại khách hàng - Customer Phone" class="col-label">Cus.Phone</td>
                                    <td>
                                        <input class="form-control form-customer-phone" style="width: 100%;" />
                                    </td>
                                    <td title="Tỉnh/thành - Province" class="col-label">Province</td>
                                    <td>
                                        <input class="form-control form-customer-province" style="width: 100%;" />
                                    </td>
                                    <td title="Quận/Huyện - District" class="col-label">District</td>
                                    <td>
                                        <input class="form-control form-customer-district" style="width: 100%;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td title="Địa chỉ khách hàng - Customer Address" class="col-label">Cus.Address</td>
                                    <td colspan="3">
                                        <input class="form-control form-customer-address" style="width: 100%;" />
                                    </td>
                                    <td title="Cửa hàng - Shop/Store" class="col-label">Shop/Store</td>
                                    <td colspan="3">
                                        <input class="form-control form-shop" style="width: 100%;" />
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="@Url.Content("~/Libraries/dist/js/dataTables.scroller.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var dateFormat = "dd/mm/yy";
        var urlDownloadExcel = '@Url.Action("DownloadExcelCompleted", "Ewarranty")';
        var urlGetDetailInfo = '@Url.Action("getEwarrantyInfo", "Ewarranty")';
        $(document).ready(function () {
            BlockUi();
            $('.form-date').mask('00/00/0000');
            $('.form-date').datepicker({
                dateFormat: dateFormat,
                maxDate: new Date()
            });
            $('.btn-export-excel').click(function () {
                var source = $('.form-source').val();
                var barcode = $('.form-barcode').val();
                var frmDate = $('.form-from-date').val();
                var toDate = $('.form-to-date').val();
                window.open(urlDownloadExcel + '?frmDate=' + frmDate + '&toDate=' + toDate + '&source=' + source + '&barcode=' + barcode, '_blank');
            });
            loadCombobox($('.form-select'));
            loadDataTable();
        });
        function loadDataTable() {
            table = $('.table-ewarranties').DataTable({
                'destroy': true,
                'dom': 'rt',
                'autoWidth': false,
                'scrollX': '100%',
                'scrollY': 180,
                'paging': true,
                'scrollCollapse': false,
                'deferRender': true,
                'scroller': true,
                'stateSave': true,
                'order': [],
                'columnDefs': [{
                    "width": "5%",
                    "targets": [0]
                }, {
                    "width": "7%",
                    "targets": [1]
                }, {
                    "width": "15%",
                    "targets": [2]
                }, {
                    "width": "12%",
                    "targets": [3]
                }, {
                    "width": "10%",
                    "targets": [4]
                }, {
                    "width": "7%",
                    "targets": [5]
                }, {
                    "width": "10%",
                    "targets": [6]
                }, {
                    "width": "8%",
                    "targets": [7]
                }, {
                    "width": "8%",
                    "targets": [8]
                }, {
                    "width": "10%",
                    "targets": [9]
                }, {
                    "width": "8%",
                    "targets": [10]
                }]
            });
            $('.table-ewarranties').on('click', 'tbody tr', function () {
                BlockUi();
                var cardId = $(this).find('.col-ew').data("id");
                clearDataInput();
                $(this).addClass('active');
                ViewDetail(cardId);
            });
            closeBlock();
        }
        function loadCombobox($control) {
            $.fn.select2.amd.require(["select2/data/array", "select2/utils"], function (e, t) {
                function a(e, t) {
                    a.__super__.constructor.call(this, e, t)
                }

                function r(e, t) {
                    return new RegExp(t, "i").test(e)
                }
                t.Extend(a, e), a.prototype.query = function (e, t) {
                    "page" in e || (e.page = 1);
                    var a = 10,
                        n = this.$element.children().map(function (t, a) {
                            return r(a.innerText, e.term) ? {
                                id: a.value,
                                text: a.innerText
                            } : void 0
                        });
                    t({
                        results: n.slice((e.page - 1) * a, e.page * a),
                        pagination: {
                            more: n.length >= e.page * a
                        }
                    })
                }, $selectGroup = $control.select2({
                    ajax: {},
                    allowClear: false,
                    dataAdapter: a
                })
            })
        }
        function OnBegin() {
            BlockUi();
        }
        function OnBeginCancel() {
            if (confirm("Are you sure?")) {
                BlockUi();
            } else {
                return false;
            }

        }
        function OnSuccess() {
            loadDataTable();
        }
        function OnSuccessCancel() {
            clearDataInput();
            $('.form-filter').submit();
        }
        function clearDataInput() {
            $('.form-card-id').val("");

            $('.form-card-no').val("");
            $('.form-register-date').val("");
            $('.form-pod').val("");
            $('.form-exp-date').val("");

            $('.form-barcode').val("");
            $('.form-plant').val("");
            $('.form-model').val("");
            $('.form-source').val("");

            $('.form-customer-name').val("");
            $('.form-customer-phone').val("");
            $('.form-customer-province').val("");
            $('.form-customer-district').val("");
            $('.form-customer-address').val("");

            $('.form-shop').val("");

            $('.lbError').html('');
            $('.lbSuccess').html('');

            $('.table-ewarranties').find('tr').removeClass('active');
            $('.form-cancel').hide();
            $('.form-reason').val("");
        }
        function ViewDetail(cardId) {
            $.ajax({
                type: "GET",
                url: urlGetDetailInfo + '?cardId=' + cardId,
                dataType: "json",
                success: function (data) {
                    $('.form-card-id').val(data.eWCardId);

                    $('.form-card-no').val(data.eWCardNo);
                    $('.form-register-date').val(data.regDate);
                    $('.form-pod').val(data.POD);
                    $('.form-exp-date').val(data.expDate);

                    $('.form-barcode').val(data.barcode);
                    $('.form-plant').val(data.plant);
                    $('.form-model').val(data.model);
                    $('.form-source').val(data.channel);

                    $('.form-customer-name').val(data.cusName);
                    $('.form-customer-phone').val(data.cusPhone);
                    $('.form-customer-province').val(data.cusProvince);
                    $('.form-customer-district').val(data.cusDistrict);

                    $('.form-customer-address').val(data.cusAddress);

                    $('.form-shop').val(data.shopName);

                    $('.form-cancel').show();
                }, error: function (e) {
                    alert(e);
                    closeBlock();
                }, complete: function () {
                    closeBlock();

                }
            });
        }

    </script>
}

